[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
WorkingDirectory={{etcd_home}}
EnvironmentFile=-{{etcd_config_file}}
User={{etcd_user}}
# set GOMAXPROCS to number of processors
ExecStart=/bin/bash -c "GOMAXPROCS=$(nproc) {{etcd_bindir}}/etcd "
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

